.cart{
    background-color: #FFE0B3;
    padding: 25px;
    position: sticky;
    top: 0;
}
.cart h6{
    font-size: 17px;
}

.btn-clear-cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 10px auto;
    color: white;
    background: #FF3030;
    border-radius: 4px;
}